.article-info {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: .75rem;

  p:first-child { font-weight: bold; }

  p:last-child {
    padding-top: .5em;
    color: #c7c7c7;
  }

  img {
    margin-right: 2rem;
    cursor: pointer;
    transition: 1s transform;

    &:hover {
      transform: rotate(360deg);
      transition: 1s transform;
    }
  }
}