header {
  div:first-child {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;

    img { max-width: 33px; }

    ul {
      width: 30%;
      justify-content: space-between;

      a {
        padding-bottom: .5rem;
        color: #c7c7c7;
        border-bottom: .15rem solid white;
        transition: .5s color, .5s border;

        &:hover {
          color: #1F3F68;
          border-bottom-color: #e5e5e5;
          transition: .5s color, .5s border;
        }
      }
    }
  }

  div:last-child {
    padding: 4rem;
    text-align: center;
    background: linear-gradient(211.87deg, #98D0FC 2.46%, #3481D7 93.24%);

    h1, p {
      font-weight: normal;
      color: white;
      font-family: Arial;
    }
  }
}