.search {
  display: flex;
  padding: .75rem 1rem;
  background-color: #f4f4f4;
  border-radius: 1rem;

  input {
    padding-left: 1rem;
    flex-grow: 1;
    border: none;
    background-color: inherit;
    outline: none;

    &:focus { color: white; }
  }

  &:focus-within { background-color: #1d1d1d; }
}