/* GLOBALS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: Helvetica;
  letter-spacing: 0.04em;
}

body { background-color: #e5e5e5; }

section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

h1, h2, h3, h4 {
  color: #1F3F68;
  margin-bottom: 1rem;
}

a { text-decoration: none; }

ul { list-style: none; }

.wrapper {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  background-color: white;
}

.flex { display: flex; }

.grid { display: grid; }

/* HEADER */

header div:first-child {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

header div:first-child img { max-width: 33px; }

header div:first-child ul {
  width: 30%;
  justify-content: space-between;
}

header div:first-child a {
  padding-bottom: .5rem;
  color: #c7c7c7;
  border-bottom: .15rem solid white;
  transition: .5s color, .5s border;
}

header div:first-child a:hover {
  color: #1F3F68;
  border-bottom-color: #e5e5e5;
  transition: .5s color, .5s border;
}

header div:last-child {
  padding: 4rem;
  text-align: center;
  background: linear-gradient(211.87deg, #98D0FC 2.46%, #3481D7 93.24%);;
}

header div:last-child h1, header div:last-child p {
  font-weight: normal;
  color: white;
  font-family: Arial;
}

/* MAIN */

main {
  max-width: 940px;
  width: 95%;
  margin: 2rem auto;
}

.indicative-text {
  color: #356ead;
  opacity: .8;
}

/** .search --> Search bar styles **/

.search {
  display: flex;
  padding: .75rem 1rem;
  background-color: #f4f4f4;
  border-radius: 1rem;
}

.search input {
  padding-left: 1rem;
  flex-grow: 1;
  border: none;
  background-color: inherit;
  outline: none;
}

.search:focus-within {
  background-color: #1d1d1d;
}

.search input:focus { color: white; }

/** .article-info --> Article's author, date and save and share buttons **/

.article-info {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: .75rem;
}

.article-info p:first-child { font-weight: bold; }

.article-info p:last-child {
  padding-top: .5em;
  color: #c7c7c7;
}

.article-info img {
  margin-right: 2rem;
  cursor: pointer;
  transition: 1s transform;
}

.article-info img:hover {
  transform: rotate(360deg);
  transition: 1s transform;
}

/* .section-1 */

.section-1 { border-bottom: 1px solid rgba(0, 0, 0, .2); }

/** .main-article **/

.main-article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-article > div > p { line-height: 1.75em; }

.main-article figure {
  flex-shrink: 0;
  text-align: right;
}

.main-article figure img {
  width: 100%;
  max-width: 540px;
}

/** Rest of articles in section 1 **/

.section-1 article:not(.main-article) { max-width: 300px; }

.section-1 article:not(.main-article) figure {
  margin-bottom: 1rem;
  text-align: center;
}

.section-1 article:not(.main-article) figure img {
  max-width: 300px;
  width: 100%;
}

.section-1 .grid {
  grid-template-columns: repeat(3, auto);
  column-gap: 1rem;
  margin: 2rem 0;
}

.section-1 > p { text-align: right; }

.section-1 > p:hover {
  opacity: 1;
  cursor: pointer;
}

/* .section-2 */

.section-2 article {
  margin-bottom: 2rem;
  transition: .5s transform, .5s boxshadow;
}

.section-2 article:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.02);
  transform: translateY(-0.25rem);
  transition: .5s transform, .5s boxshadow;
}

.section-2 article > div {
  width: 70%;
  padding: 1rem;
  border: .05rem solid rgba(0, 0, 0, .05);
}

.section-2 article figure { width: 30%; }

.section-2 article figure img {
  display: block;
  max-width: 300px;
  width: 100%;
}

.section-2 > div:last-child { justify-content: space-between; }


/* FOOTER */

footer {
  max-width: 1270px;
  width: 97%;
  position: relative;
  background-color: #316099;
  border-top-right-radius: 200px;
}

footer img {
  max-width: 16.5px;
  margin-right: .5rem;
}

footer * { color: white; }

footer > div {
  width: 70%;
  margin: auto;
}

footer > div:first-child {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer > div:first-child div:last-child { text-align: center; }

footer button {
  border: none;
  background-color: #316099;
  border: .15rem solid #5A98D0;
  color: #5A98D0;
  padding: .75rem 3.5rem;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;

}

footer button:hover {
  background-color: #5a98d0;
  color: white;
}

footer button:active {
  transform: scale(.95);
}

footer > div:first-child div { width: 50%; }

footer .grid {
  grid-template-columns: repeat(3, auto);
  row-gap: 2rem;
  line-height: 2rem;
}

footer .grid > p:last-child, footer .flex p {
  font-size: .9rem;
  color: rgba(255, 255, 255, .4);
}